$('#notice').hide();
if (1 ==$('#cart tr').length ) { $('#cart').show('blind', 1000); }

$('#cart').html("<%= j render(@cart) %>");

$('#current_item').css('background-color', '#88ff88').
  animate({'background-color': '#114411'}, 1000);
