<!DOCTYPE html>
<html>
  <head>
    <title>PragProg Books Online Store</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller.controller_name %>">
  <div id="banner">
    <%=	 image_tag 'logo.svg', alt: 'PragProg logo' %>
    <span class="title"><%=	 @page_title %></span>
  </div>
  <div id="columns">
    <div id="side">
      <div id="cart">
        <% if @cart	  %>
          <% hidden_div_if @cart.line_items.empty?, id: 'cart' do  %>
            <%=	 render @cart %>
          <%	end  %>
        <%	end  %>
      </div>
      <ul>
        <li><a href="http://www...">Home</a></li>
        <li><a href="http://www.../faq">Questions</a></li>
        <li><a href="http://www.../news">News</a></li>
        <li><a href="http://www.../contacts">Contacts</a></li>
        <li><a href="#"><%=	 Time.now.strftime '%H:%M:%S %Z' %></a></li>
      </ul>
    </div>
    <div id="main">
      <%= yield %>

    </div>
  </div>

  </body>
</html>
